
<ol class="breadcrumb">
	<li><a href="#/">Dashboard</a></li>
	<li>Search</li>
	<li class="active">By Id</li>
</ol>

<div class="container-fluid">


	<div class="panel panel-default" data-widget='{"draggable": "false"}'>
		<div class="panel-heading">
			<h2>Advanced Search</h2>
			<div class="panel-ctrls" data-actions-container=""
				data-action-collapse='{"target": ".panel-body"}'></div>
		</div>
		<div class="panel-body">
			<form action="" class="form-horizontal row-border">
				<div class="form-group">
					<label class="col-sm-2 control-label">Profile Id</label>
					<div class="col-sm-8">
						<div class="input-group">
							<span class="input-group-btn"><button class="btn"
									type="button">
									<i class="ti ti-search"></i>
								</button></span> <input type="text" class="form-control"
								placeholder="Profile Id">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2">
						<button class="btn-primary btn">Submit</button>
						<button class="btn-default btn">Cancel</button>
					</div>
				</div>
			</form>

		</div>
	</div>
</div>
<!-- container-fluid -->
