<div data-ng-controller="SearchController">
	<ol class="breadcrumb">
		<li><a href="#/">Dashboard</a></li>
		<li>Search</li>
		<li class="active">Advanced Search</li>
	</ol>

	<div class="container-fluid">


		<div class="panel panel-default" data-widget='{"draggable": "false"}'>
			<div class="panel-heading">
				<h2>Advanced Search</h2>
				<div class="panel-ctrls" data-actions-container=""
					data-action-collapse='{"target": ".panel-body"}'></div>
			</div>
			<div class="panel-body">
				<form action="" class="form-horizontal row-border">

					<div class="table-responsive">
						<table class="table about-table">
							<tbody>
								<tr>
									<th>Looking For :</th>
									<td><input type="text" class="form-control" id="gender"
										placeholder="Gender" data-ng-model="gender"></td>
								</tr>
								<tr>
									<th>Age :</th>
									<td><input type="text" class="form-control" id="fromAge"
										placeholder="from Age" data-ng-model="fromAge"></td>
									<th></th>
									<td><input type="text" class="form-control" id="toAge"
										placeholder="to Age" data-ng-model="toAge"></td>
								</tr>
								<tr>
									<th>Height :</th>
									<td><input type="text" class="form-control"
										id="fromHeight" placeholder="from Height"
										data-ng-model="fromHeight"></td>
									<th></th>
									<td><input type="text" class="form-control" id="toHeight"
										placeholder="to Height" data-ng-model="toHeight"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</form>

			</div>
			<div class="panel-footer">
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2">
						<button class="btn-primary btn" data-ng-click="advancedSearch()">Submit</button>
						<button class="btn-default btn" data-ng-click="reset()">Reset</button>
					</div>
				</div>
			</div>
			<div class="panel panel-default" data-widget='{"draggable": "false"}'
				data-ng-show="loadingProfile">
				<div class="panel-body">
					<div class="about-area">
						<h4>Personal Information</h4>
						<div class="table-responsive" data-ng-repeat="profile in profiles">
							<table class="table about-table">
								<tbody>
									<tr>
										<th>Profile Id</th>
										<td>{{profile.userId}}</td>
										<th>Full Name</th>
										<td>{{profile.firstname}} - {{profile.lastName}}</td>
									</tr>
									<tr>
										<th>DOB:</th>
										<td></td>
										<th>Height:</th>
										<td>{{profile.height}}</td>
									</tr>
									<tr>
										<th>Gender</th>
										<td></td>
										<th>Complexion:</th>
										<td></td>
									</tr>
									<tr>
										<th>Education:</th>
										<td>{{profile.education}}</td>
										<th>Occupation:</th>
										<td>{{profile.occupation}}</td>
									</tr>
									<tr>
										<th>Caste:</th>
										<td></td>
										<th>Marital Status:</th>
										<td></td>
									</tr>
									<tr>
										<th>Paternal Gotram:</th>
										<td>{{profile.paternalGotram}}</td>
										<th>Maternal Gotram:</th>
										<td>{{profile.maternalGotram}}</td>
									</tr>

									<tr>
										<th>Star:</th>
										<td>{{profile.star}}</td>
										<th>Rasi:</th>
										<td>{{profile.rasi}}</td>
									</tr>
									<tr>
										<th>About Self:</th>
										<td></td>
										<th>Salary:</th>
										<td>{{profile.salary}}</td>
									</tr>

									<tr>
										<th>Photo:</th>
										<td>{{profile.photoLink}}</td>
										<th>Video:</th>
										<td>{{profile.videoLink}}</td>
									</tr>

								</tbody>
							</table>
							<hr>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- container-fluid -->
