<div data-ng-controller="SearchController">
	<ol class="breadcrumb">
		<li>
			<a href="#/">Dashboard</a>
		</li>
		<li>Search</li>
		<li class="active">By Id</li>
	</ol>

	<div class="container-fluid">


		<div class="panel panel-default" data-widget='{"draggable": "false"}'>
			<div class="panel-heading">
				<h2>Search By ID</h2>
				<div class="panel-ctrls" data-actions-container="" data-action-collapse='{"target": ".panel-body"}'></div>
			</div>
			<div class="panel-body">

				<div class="form-group">
					<label class="col-sm-2 control-label">Profile Id</label>
					<div class="col-sm-8">
						<div class="input-group">
							<span class="input-group-btn">
								<button class="btn" type="button">
									<i class="ti ti-search"></i>
								</button>
							</span>
							<input type="text" data-ng-model="searchId" class="form-control" placeholder="Profile Id">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2">
						<button class="btn-primary btn" data-ng-click="submit()">Submit</button>
						<button class="btn-default btn">Cancel</button>
					</div>
				</div>


			</div>
		</div>
		<div class="panel panel-default" data-widget='{"draggable": "false"}'>
			<div class="panel-heading">
				<h2>Results</h2>
				<div class="panel-ctrls" data-actions-container="" data-action-collapse='{"target": ".panel-body"}'></div>
			</div>
			<div class="panel-body">


				<div class="row">
					<div class="col-md-6">
						<div class="panel panel-default" data-widget='{"draggable": "false"}'>
							<div class="panel-heading">
								<h2>

									<ul class="nav nav-tabs ">
										<li class="active">
											<a data-target="#home1" href="" data-toggle="tab">Basic</a>
										</li>
										<li>
											<a data-target="#education" href="" data-toggle="tab">Education</a>
										</li>
										<li>
											<a data-target="#family" href="" data-toggle="tab">Family</a>
										</li>
										<li>
											<a data-target="#Astrology" href="" data-toggle="tab">Astrology</a>
										</li>
										<li>
											<a data-target="#interests" href="" data-toggle="tab">Interests</a>
										</li>
									</ul>
								</h2>
							</div>
							<div class="panel-body">
								<div class="tab-content">
									<div class="tab-pane active" id="home1">Basic Details
										<div>
											FirstName: {{profile.firstname}} LastName: {{profile.lastname}} Gender: {{profile.gender}}
										</div>
									</div>
									<div class="tab-pane" id="education">Education Details</div>
									<div class="tab-pane" id="family">Family Details</div>
									<div class="tab-pane" id="astrology">Astrology Details</div>
									<div class="tab-pane" id="interests">Interests</div>

								</div>
							</div>
						</div>
					</div>
				</div>


			</div>
		</div>
	</div>
</div>
<!-- container-fluid -->