<ol class="breadcrumb">
    <li><a href="#/">Home</a></li>
    <li class="active">Client Dashboard</li>
</ol>

<div class="container-fluid" ng-controller="DashboardController">
    <div class="row">
        <div class="col-md-3">
            <div class="info-tile tile-orange">
                <div class="tile-icon"><i class="fa fa-users"></i></div>
                <div class="tile-heading"><span>Profiles</span></div>
                <div class="tile-body"><span>2,150</span></div>
                <div class="tile-footer"><span class="text-success">22.5% <i class="fa fa-level-up"></i></span></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="info-tile tile-success">
                <div class="tile-icon"><i class="fa fa-envelope"></i></div>
                <div class="tile-heading"><span>Messages</span></div>
                <div class="tile-body"><span>10</span></div>
                <div class="tile-footer"><span class="text-danger">12.5% <i class="fa fa-level-down"></i></span></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="info-tile tile-info">
                <div class="tile-icon"><i class="fa fa-thumbs-up"></i></div>
                <div class="tile-heading"><span>Interests</span></div>
                <div class="tile-body"><span>25</span></div>
                <div class="tile-footer"><span class="text-success">5% <i class="fa fa-level-up"></i></span></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="info-tile tile-gray">
                <div class="tile-icon"><i class="ti ti-bar-chart-alt"></i></div>
                <div class="tile-heading"><span>Short Listed</span></div>
                <div class="tile-body"><span>5</span></div>
                <!-- <div class="tile-footer"><span class="text-danger">10.5% <i class="fa fa-level-down"></i></span></div> -->
            </div>
        </div>
    </div>

    <div data-widget-group="group1">
       


        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-gray" data-widget='{"draggable": "false"}'>
                    <div class="panel-heading">
                        <h2>Recent Activities</h2>
                        <div class="panel-ctrls button-icon-bg" 
                            data-actions-container="" 
                            data-action-collapse='{"target": ".panel-body"}'
                            data-action-colorpicker=''
                            data-action-refresh-demo='{"type": "circular"}'
                            >
                        </div>
                    </div>
                    <div class="panel-body scroll-pane" style="height: 320px;">
                        <div class="scroll-content">
                            <ul class="mini-timeline">
                                <li class="mini-timeline-lime">
                                    <div class="timeline-icon"></div>
                                    <div class="timeline-body">
                                        <div class="timeline-content">
                                            <a href="#/" class="name">Vincent Keller</a> added new task <a href="#/">Admin Dashboard UI</a>
                                            <span class="time">4 mins ago</span>
                                        </div>
                                    </div>
                                </li>

                                <li class="mini-timeline-deeporange">
                                    <div class="timeline-icon"></div>
                                    <div class="timeline-body">
                                        <div class="timeline-content">
                                            <a href="#/" class="name">Shawna Owen</a> added <a href="#/" class="name">Alonzo Keller</a> and <a href="#/" class="name">Mario Bailey</a> to project <a href="#/">Wordpress eCommerce Template</a>
                                            <span class="time">6 mins ago</span>
                                        </div>
                                    </div>
                                </li>

                                <li class="mini-timeline-info">
                                    <div class="timeline-icon"></div>
                                    <div class="timeline-body">
                                        <div class="timeline-content">
                                            <a href="#/" class="name">Christian Delgado</a> commented on thread <a href="#/">Frontend Template PSD</a>
                                            <span class="time">12 mins ago</span>
                                        </div>
                                    </div>
                                </li>

                                <li class="mini-timeline-indigo">
                                    <div class="timeline-icon"></div>
                                    <div class="timeline-body">
                                        <div class="timeline-content">
                                            <a href="#/" class="name">Jonathan Smith</a> added <a href="#/" class="name">Frend Pratt</a> and <a href="#/" class="name">Robin Horton</a> to project <a href="#/">Material Design Admin Template</a>
                                            <span class="time">6 hours ago</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="mini-timeline-lime">
                                    <div class="timeline-icon"></div>
                                    <div class="timeline-body">
                                        <div class="timeline-content">
                                            <a href="#/" class="name">Vincent Keller</a> added new task <a href="#/">Admin Dashboard UI</a>
                                            <span class="time">4 mins ago</span>
                                        </div>
                                    </div>
                                </li>

                                <li class="mini-timeline-deeporange">
                                    <div class="timeline-icon"></div>
                                    <div class="timeline-body">
                                        <div class="timeline-content">
                                            <a href="#/" class="name">Shawna Owen</a> added <a href="#/" class="name">Alonzo Keller</a> and <a href="#/" class="name">Mario Bailey</a> to project <a href="#/">Wordpress eCommerce Template</a>
                                            <span class="time">6 mins ago</span>
                                        </div>
                                    </div>
                                </li>

                                <li class="mini-timeline-info">
                                    <div class="timeline-icon"></div>
                                    <div class="timeline-body">
                                        <div class="timeline-content">
                                            <a href="#/" class="name">Christian Delgado</a> commented on thread <a href="#/">Frontend Template PSD</a>
                                            <span class="time">12 mins ago</span>
                                        </div>
                                    </div>
                                </li>

                                <li class="mini-timeline-indigo">
                                    <div class="timeline-icon"></div>
                                    <div class="timeline-body">
                                        <div class="timeline-content">
                                            <a href="#/" class="name">Jonathan Smith</a> added <a href="#/" class="name">Frend Pratt</a> and <a href="#/" class="name">Robin Horton</a> to project <a href="#/">Material Design Admin Template</a>
                                            <span class="time">6 hours ago</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="mini-timeline-default">
                                    <div class="timeline-body ml-n">
                                        <div class="timeline-content">
                                            <button type="button" data-loading-text="Loading..." class="loading-example-btn btn btn-sm btn-default">See more</button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-white" data-widget='{"draggable": "false"}'>
                    <div class="panel-heading">
                        <h2>New Members</h2>
                        <div class="panel-ctrls button-icon-bg" 
                            data-actions-container="" 
                            data-action-refresh-demo='{"type": "circular"}'
                            >
                        </div>
                    </div>
                    <div class="panel-body">
                        <ul class="widget-avatar">
                            <li><img src="assets/demo/avatar/avatar_01.png" alt=""/></li>
                            <li><img src="assets/demo/avatar/avatar_02.png" alt=""/></li>
                            <li><img src="assets/demo/avatar/avatar_03.png" alt=""/></li>
                            <li><img src="assets/demo/avatar/avatar_04.png" alt=""/></li>
                            <li><img src="assets/demo/avatar/avatar_05.png" alt=""/></li>
                        </ul>
                        <button class="btn btn-block btn-primary">View More</button>
                    </div>
                </div>

                <div class="panel panel-white" data-widget='{"draggable": "false"}'>
                    <div class="panel-heading">
                        <h2>Online Now</h2>
                        <div class="panel-ctrls button-icon-bg" 
                            data-actions-container="" 
                            data-action-refresh-demo='{"type": "circular"}'
                            >
                        </div>
                    </div>
                    <div class="panel-body">
                        <ul class="widget-avatar">
                            <li data-status="online"><img src="assets/demo/avatar/avatar_01.png" alt=""/></li>
                            <li data-status="online"><img src="assets/demo/avatar/avatar_02.png" alt=""/></li>
                            <li data-status="online"><img src="assets/demo/avatar/avatar_03.png" alt=""/></li>
                            <li data-status="away"><img src="assets/demo/avatar/avatar_04.png" alt=""/></li>
                            <li data-status="busy"><img src="assets/demo/avatar/avatar_05.png" alt=""/></li>
                        </ul>
                        <button class="btn btn-block btn-success">Contact List</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">

                <div class="panel panel-midnightblue widget-progress" data-widget='{"draggable": "false"}'>
                    <div class="panel-heading">
                        <h2>Progress</h2>
                        <div class="panel-ctrls button-icon-bg" 
                            data-actions-container="" 
                            data-action-refresh-demo='{"type": "circular"}'
                            >
                        </div>
                    </div>
                    <div class="panel-body">
                        <div easypiechart class="easypiechart mb-md"
                            data-percent="37"
                            data-options="epProgress"><span class="percent-non">37</span>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="tabular">
                            <div class="tabular-row">
                                <div class="tabular-cell">
                                    <span class="status-total">Total</span>
                                    <span class="status-value">100</span>
                                </div>
                                <div class="tabular-cell">
                                    <span class="status-pending">Pending</span>
                                    <span class="status-value">63</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="widget-weather">
                    <div class="pull-left">
                        <span class="weather-location">Toronto, CA</span>
                        <span class="weather-desc">Sunny</span>
                    </div>
                    <div class="pull-right">
                        <span class="weather-temp">16<span>ºC</span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- container-fluid -->
